body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
  display: flex;
  flex-direction: column;
}
.reverse-list {
  flex-direction: column-reverse;
}
.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 440px) {
  .game {
    flex-direction: column;
  }
  .game-info {
    margin-left: 5px;
  }
}

.game-info {
  margin-left: 20px;
}
@media screen and (max-width: 440px) {
  .game-info {
    margin-left: 0;
  }
}

.li-bold {
  background-color: darkorange;
}